# Build and intermediate directories
build/

# Track Release output binaries, ignore other bin subfolders if any
bin/*
!bin/Release/

# Visual Studio & VS Code
.vscode/
.vs/
*.user
*.suo

# Temporary test files
font_test.bin